:root {
  --primaryfont: "Roboto", sans-serif;
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --cloud: #f4f4fd;
  --white: #fff;
  --ocean: #404bbf;
  --cornflower: #e7e9fc;
}
body {
  font-family: var(--primaryfont);
  color: var(--slate);
  background-color: var(--white);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}
.header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
}
.nav {
  display: flex;
  align-items: center;
}
.nav .logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}
.header-logo-end {
  color: var(--navyblue);
}
.nav .list {
  display: flex;
  gap: 40px;
}
.nav .list .link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  gap: 40px;
  flex-direction: row;
  padding: 24px 0;
}
.nav .list .link:hover,
.nav .list .link:focus,
.nav .list .link:active {
  color: var(--ocean);
}
.adress {
  font-style: normal;
}
.adress .list {
  display: flex;
  gap: 40px;
  padding-left: 332px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.adress .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.adress .list .link:hover,
.adress .list .link:focus,
.adress .list .link:active {
  color: var(--ocean);
}
.main-section {
  padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: 50% 50%;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mainbackground.jpg);
}
.main-header {
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
.button:hover,
.button:focus {
  background-color: var(--ocean);
}
.list-heading {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.list-paragraph {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.heading {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.team {
  background-color: var(--cloud);
  padding: 120px 0;
}
.name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.list-image {
  background-color: var(--white);
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}
.footer .link {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--iris);
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-end {
  color: var(--cloud);
}
.logo {
  color: var(--cloud);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.button-list {
  background-color: var(--cloud);
  color: var(--iris);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
}
.button-list:hover,
.button-list:focus,
.button-list:active {
  background-color: var(--ocean);
  color: var(--white);
  border: 1px solid transparent;
}
.list .link {
  text-decoration: none;
  color: inherit;
}
.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}

.project-description {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features {
  padding: 120px 0;
}
.features .list {
  display: flex;
  gap: 24px;
}
.features .list-elements {
  width: calc((100% - 72px) / 4);
}
.pruducts {
  padding-bottom: 120px;
}
.pruducts .heading {
  margin-bottom: 72px;
}
.pruducts .list {
  display: flex;
  gap: 24px;
}
.pruducts .list-elements {
  width: calc((100% - 3 * 16px) / 3);
}
.team .heading {
  margin-bottom: 72px;
}
.team .list {
  display: flex;
  gap: 24px;
}
.team-name {
  padding: 32px 0;
}
.team .list-image {
  border-radius: 0px 0px 4px 4px;
}
.footer .logo {
  max-width: 264px;
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}
.list-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projects-apps {
  width: calc((100% - 48px) / 3);
}
.div-app {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}
